.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  &-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: $primary-title-color;
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
  }
  &-card {
    width: calc((100% - 60px) / 2);
    margin: 15px;
    border: 1px solid #afb1b8;

    border-radius: 4px;

    @media screen and(min-width:768px) {
      width: calc((100% - 90px) / 3);
    }
  }

  &-card a:hover,
  &-card a:focus {
    color: $accent-color;
    border: 1px solid $accent-color;
  }
  &-card > a {
    display: flex;
    color: #afb1b8;
    height: 90px;
    justify-content: center;
    align-items: center;
  }
  &-icon {
    fill: currentColor;
  }
}
