.features {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and(min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &-block {
    margin: 15px;
    // margin-right: 30px;
    @media screen and (min-width: 768px) {
      width: calc((100% - 60px) / 2);
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
    }
    &::before {
      content: "";
      display: block;
      height: 120px;
      margin-bottom: 30px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #f5f4fa;
      border-radius: 4px;
    }

    &.icon-antenna::before {
      background-image: url(../icons/antenna1.svg);
    }
    &.icon-clock::before {
      background-image: url(../icons/clock1.svg);
    }
    &.icon-diagram::before {
      background-image: url(../icons/diagram1.svg);
    }
    &.icon-astronaut::before {
      background-image: url(../icons/astronaut1.svg);
    }
  }

  &-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-title-color;
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: start;
    }
    @media screen and (min-width: 1200px) {
      text-align: start;
    }
  }
  &-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $primary-text-color;

    &:last-child {
      margin-right: 0px;
    }
  }
}
.features-flex {
  margin: -15px;
  @media screen and(min-width:768px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @media screen and(min-width:1200px) {
    flex-wrap: nowrap;
  }
}
